$color-secondary: #66d9e8;
$color-dark: #030518;

.cover_container {
  position: relative;
  overflow: hidden;

  &:hover .cover_image {
    opacity: 0.2;
  }

  &:hover .middle {
    opacity: 1;
  }
}

.cover_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: $color-secondary;
  border-radius: 7px;
  color: $color-dark;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
}
