$color-secondary: #66d9e8;
$color-dark: #030518;

.input {
  label {
    color: $color-secondary;
  }

  input {
    border: 1px solid $color-secondary;
    border-radius: 7px;

    &:focus {
      outline: 1px solid #fff;
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #22b8cf;
      border-radius: 50px;
    }
  }
}

.select {
  label {
    color: $color-secondary;
  }

  input {
    border: 1px solid $color-secondary;
    border-radius: 7px;

    &:focus {
      outline: 1px solid $color-secondary;
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #22b8cf;
      border-radius: 50px;
    }
  }
}

.cover_container {
  position: relative;
  overflow: hidden;

  &:hover .cover_image {
    opacity: 0.2;
  }

  &:hover .middle {
    opacity: 1;
  }
}

.cover_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: $color-secondary;
  border-radius: 7px;
  color: $color-dark;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
}
