.container {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #66d9e8 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background: transparent;
    width: 3px;

    &:hover {
      background: transparent;
      width: 1.5px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #66d9e8;
    border-radius: 50px;
    width: 1px;

    &:hover {
      width: 5px;
    }
  }
}
