:root {
  $color-primary: rgb(102, 217, 232);
  $color-secondary: rgb(40, 44, 77);
  $color-dark-blue: hsl(233, 55%, 16%);
}

.markerLabel {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.125rem 0.25rem;

  border-radius: 0.25rem;

  position: absolute;
  top: 2.25rem;
  left: 1rem;
  z-index: 1;
}
