:root {
  $color-primary: rgb(102, 217, 232);
  $color-secondary: rgb(40, 44, 77);
  $color-dark-blue: rgb(18, 24, 63);
}

.markerLabel {
  background-color: rgba(18, 24, 63, 0.9);
  padding: 0.125rem 0.25rem;

  border-radius: 0.25rem;

  position: absolute;
  top: 2.25rem;
  left: 1rem;
  z-index: 1;
}
